 .wrapperResource {
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 101px;
  }
  
  h1 {
    text-align: center;
  }

  .grid-item-2Resource{
    text-align: left;
    margin-left: 50px;
  }
  
  .cardResource {
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 200px 400px 50px;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    z-index: 1;
  }
  
  .card__image {
    height: 80%;
    width: 100%;
    padding: 15px;
    margin: 15px;
  }
  
  .card__title {
    padding: 1rem;
  }
  
  .card__description {
    padding: 0 1rem;
  }
  
  .cardResource:hover {
    transform: scale(1.02);
  }
  