.profileCompleteWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 250px 0;
}

.profileCompleteWrapperInside {
  position: relative;
  bottom: 40px;
}