
#signin-label {
    font-size: larger;
    text-align:center;
    left:25%;
}

#signup-btn , #signin-btn {
    background-color: white; 
    border: none;
    border-radius: 15px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

