.main-result-div {
    border-style: solid;
    border-color: grey;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.25fr .75fr;
    margin-left: 10%;
    margin-right: 10%;
}

.title-div {
    font-weight: bold;
    margin: 10px;
}

.description-div {
    margin-left: 10px;
    margin-right: 10px;
}

#status-div, #date-div {
    font-weight: bold;
    margin-top: 40px;
    margin-left: 30px
}


  .viewBtn {
    width: 75px;
    height: 30.34px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #1960D3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 50%;
    margin-bottom: 10px
  }

 
  