/* .text-div {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.25vmin;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

p {
    font-size: larger;
    text-align:center;
    left:25%;
}


#clickToKnow-btn {
    background-color: white; /* Green */
    border: none;
    border-radius: 15px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

