/* .text-div {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.25vmin;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* /* .landing-main-div{
    
    height: 100vh;
    width: 100vw;
} */
/* p {
    font-size: larger;
    text-align:center;
    left:25%;
} 
* {
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
  } */


  .landing-main-div{
    display : grid;
    grid-template-rows: 1fr 1fr 1fr;
}